KOSCHEI_TOKEN_LAUNCH_AT=2026-07-01T17:47:00+03:00
KOSCHEI_TOKEN_NAME=Koschei ARVIS
KOSCHEI_TOKEN_SYMBOL=KOSCHEI
KOSCHEI_TOKEN_NETWORK=solana-mainnet
KOSCHEI_TOKEN_MINT=
KOSCHEI_TOKEN_TREASURY=
KOSCHEI_TOKEN_DISCLOSURE_URL=
KOSCHEI_TOKEN_VESTING_URL=
KOSCHEI_TOKEN_LIQUIDITY_LOCK_URL=
KOSCHEI_TOKEN_GATE_ENABLED=false
KOSCHEI_TOKEN_TIER_BASIC=
KOSCHEI_TOKEN_TIER_PRO=
KOSCHEI_TOKEN_TIER_ENTERPRISE=
KOSCHEI_TOKEN_BURN_ENABLED=false
