KOSCHEI_TOKEN_LAUNCH_AT=2026-07-01T20:00:00+03:00
KOSCHEI_TOKEN_NAME=Koschei ARVIS
KOSCHEI_TOKEN_SYMBOL=KOSCHEI
KOSCHEI_TOKEN_NETWORK=solana-mainnet
KOSCHEI_TOKEN_MINT=
KOSCHEI_TOKEN_TREASURY=DMAz2dHdiE7NKyBeUpNYyLt7B8YQEg27wD2atEwMfnPj
KOSCHEI_TOKEN_DISCLOSURE_URL=https://tradepigloball.co/token-disclosure
KOSCHEI_TOKEN_VESTING_URL=https://tradepigloball.co/token-vesting
KOSCHEI_TOKEN_LIQUIDITY_LOCK_URL=
KOSCHEI_TOKEN_GATE_ENABLED=false
KOSCHEI_TOKEN_TIER_BASIC=
KOSCHEI_TOKEN_TIER_PRO=
KOSCHEI_TOKEN_TIER_ENTERPRISE=
KOSCHEI_TOKEN_BURN_ENABLED=false
